.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff; /* White background for navbar */
  border-bottom: 1px solid #ddd; /* Light grey border */
}

.logo img {
  height: 4px; /* Adjust height of the logo */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #78A03C; /* Darker green for link text */
  margin-left: 1rem;
}

.nav-link:hover {
  color: #9DCD43; /* Lighter green for link text on hover */
}
