.adventure-card {
  display: flex;
  margin-bottom: 20px;
  background-color: #336633; /* Eco-friendly green color */
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing content */
  transition: transform 0.3s ease; /* Transition for hover effect */
}

.adventure-card:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.adventure-card .adventure-image {
  width: 300px; /* Adjust width as needed */
  height: auto;
}

.adventure-card .adventure-details {
  flex-grow: 1;
  padding: 20px;
}

.adventure-card .adventure-details h3,
.adventure-card .adventure-details p,
.adventure-card .adventure-details .rating {
  color: #fff; /* White text color */
}

.adventure-card .adventure-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.adventure-card .adventure-details p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.adventure-card .adventure-details .rating {
  font-size: 16px;
  color: #fff; /* Ensure rating text is also white */
}
