.contact-form {
  display: flex; /* Make form elements stack vertically */
  flex-direction: column; /* Align elements one per row */
  width: 100%; /* Make form fit container width */
  margin: 0 auto; /* Center form horizontally */
  justify-content: center; /* Center elements horizontally within container */
  align-items: center; /* Center elements vertically within container */
}

.contact-form label {
  margin-bottom: 5px; /* Add spacing between label and input */
  display: block; /* Make labels appear on separate lines */
}

.contact-form input,
.contact-form textarea {
  width: 650px; /* Make input fields full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px; /* Add spacing between elements */
}

.contact-form button {
  width: 250px;
  background-color: #555;
  color: #9dcd43;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin: 0 auto; /* Center form horizontally */
  justify-content: center; /* Center elements horizontally within container */
}

.contact-form button:hover {
  background-color: #282c34; /* Add hover effect */
}

