.impact-calculator {
  font-family: sans-serif;
  margin: 0 auto; /* Center the calculator horizontally */
  max-width: 600px; /* Set a maximum width */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calculator-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.calculator-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 0; /* Remove default input margin */
  font-size: 16px;
  border-radius: 4px;
  width: 100%; /* Make inputs full width */
}

button {
  background-color: #336633;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #295629;
}

button[disabled] {
  background-color: #ccc;
  cursor: default;
}

.footprint-result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
